@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4"><b>Welcome To Student Management System</b></h1>
    <div class="d-flex justify-content-center">
    <hr class="w-25"/>
    </div>
</div>
